scikit-learn==1.3.0
pandas==1.5.0
joblib==1.3.2
numpy==1.23.3
ai-core-sdk==1.22.3
pandas-schema==0.3.6
requests==2.31.0
ipython==8.15.0
pyyaml==6.0.1
glob2==0.7
flask==2.3.3
Flask-Cors==4.0.0
boto3==1.28.51